Libraires

In [66]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Acquiring the Data & Preprocessing

In [67]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [68]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [69]:
#Every genre is separated by a | so we simply have to call the split function on |
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [70]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = movies_df.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [72]:
## Looking at user 1988 data

user_1988 = ratings_df[ratings_df.userId == 1988]

In [73]:
user_1988 = user_1988.merge(movies_df, how='inner')

In [74]:
inputMovies = user_1988[['movieId','title', 'rating']]

In [75]:
userGenreTable= inputMovies.merge(moviesWithGenres_df, how='inner').iloc[:, 5:]

In [76]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Adventure             43.0
Animation              8.0
Children               7.0
Comedy                48.0
Fantasy                7.0
Romance               13.0
Drama                 27.0
Action                45.0
Crime                 21.0
Thriller              43.0
Horror                 3.0
Mystery                7.0
Sci-Fi                21.0
IMAX                   0.0
Documentary            0.0
War                    4.0
Musical                3.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [77]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()
print(genreTable.shape)

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [78]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.376667
2    0.190000
3    0.203333
4    0.293333
5    0.160000
dtype: float64

In [79]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df

movieId
81132     0.790000
64645     0.756667
122787    0.756667
83266     0.753333
4956      0.730000
            ...
85505     0.000000
85547     0.000000
127266    0.000000
127228    0.000000
151711    0.000000
Length: 34208, dtype: float64

In [80]:
recommendationTable = pd.DataFrame({'movieId' : recommendationTable_df.index,
                                  'rating': recommendationTable_df.values})
recommendationTable

       movieId    rating
0        81132  0.790000
1        64645  0.756667
2       122787  0.756667
3        83266  0.753333
4         4956  0.730000
...        ...       ...
34203    85505  0.000000
34204    85547  0.000000
34205   127266  0.000000
34206   127228  0.000000
34207   151711  0.000000

[34208 rows x 2 columns]

In [81]:
#The final recommendation table (Top 20 Movies we recommand user 1988)

personalized_recommendation_user1988 = recommendationTable.merge(movies_df, how='inner').head(20).drop('rating', 1)

In [82]:
personalized_recommendation_user1988

,movieId,title,genres,year
0,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
1,64645,The Wrecking Crew,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1968
2,122787,The 39 Steps,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1959
3,83266,Kaho Naa... Pyaar Hai,"[Action, Adventure, Comedy, Drama, Mystery, Ro...",2000
4,4956,"Stunt Man, The","[Action, Adventure, Comedy, Drama, Romance, Th...",1980
5,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991
6,31367,"Chase, The","[Action, Adventure, Comedy, Crime, Romance, Th...",1994
7,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8,75408,Lupin III: Sweet Lost Night (Rupan Sansei: Swe...,"[Action, Animation, Comedy, Crime, Drama, Myst...",2008
9,76153,Lupin III: First Contact (Rupan Sansei: Faasut...,"[Action, Animation, Comedy, Crime, Drama, Myst...",2002
10,91542,Sherlock Holmes: A Game of Shadows,"[Action, Adventure, Comedy, Crime, Mystery, Th...",2011
11,27735,Unstoppable,"[Action, Adventure, Comedy, Drama, Thriller]",2004
12,55116,"Hunting Party, The","[Action, Adventure, Comedy, Drama, Thriller]",2007
13,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
14,98558,Dragon Attack,"[Action, Adventure, Comedy, Crime, Thriller, War]",1983
15,115479,"Whip Hand, The","[Action, Adventure, Crime, Drama, Sci-Fi, Thri...",1951
16,26184,"Diamond Arm, The (Brilliantovaya ruka)","[Action, Adventure, Comedy, Crime, Thriller]",1968
17,6503,Charlie's Angels: Full Throttle,"[Action, Adventure, Comedy, Crime, Thriller]",2003
18,27032,Who Am I? (Wo shi shei),"[Action, Adventure, Comedy, Sci-Fi, Thriller]",1998
19,8968,After the Sunset,"[Action, Adventure, Comedy, Crime, Thriller]",2004